<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tho.daa_moblie_client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name=".Activities.SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation"
            android:label="User"
            android:screenOrientation="portrait"></activity>

        <!-- Navigation Drawer -->
        <activity
            android:name=".Activities.QRCodeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.QRScan"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity
            android:name=".Activities.ServiceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HelpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.BluetoothActivity">

        </activity>
        <activity android:name=".Activities.DeviceListActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SettingActivity"></activity>
        <activity android:name=".Activities.ModeActivity">

        </activity>

    </application>

</manifest>